.all-persons {
  flex-direction: column;
  align-items: stretch !important;
}
.marg-top{
  flex-direction: column;
  align-items: stretch !important;
  margin: 8em auto !important;
}
.title-person {
  display: flex;
  justify-content: space-between;
}
.title-person > * {
  text-align: center;
  background-color: #f00f08;
  padding: 0.5em;
  color: #fff;
  border-right: 0.7px solid #fff

}
/* .marg-top > *{
  text-align: center;
  color: #fff;
  border-right: 0.7px solid #fff
} */
.title-petition-no{
  flex: 1 1 110px;
}
.title-deceased-name{
    flex: 2 2 180px;
}
.title-person-name{
    flex:2 2 180px
}
.title-Date{
  flex:1 1 90px
}
.title-user-add{
  flex:1 1 90px
}
.title-aciton{
  flex:1 1 80px
}
