*{
  color: #fff;
}
.signup-form {
  padding: 1.2em;
  margin: 18vh auto;
  min-height: 440px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #1F2E35;
}
.signup-form h2 {
  padding: 0.2em;
  color: #f00f08;
}
output {
  padding: 0.5em;
  text-align: center;
  border-radius: 0.3em;
  font-size: 1.2em;
}
.signup-form > .error {
  color: #f00f08;
  background-color: #e59a97;
}
.signup-form > .sucssce {
  color: #06ca17;
  background-color: #82e2b4;
}
.signup-form > label {
  padding: 0.4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  font-weight: 550;
  font-size: 1em;
  
}
.signup-form > label > input {
  padding: 0.6em;
  margin-top: 0.5em;
  border: 1px solid #ddd;
  color: #1F2E35 !important;
}
.signup-form > label > input:focus{
  padding: 0.6em ;
  margin-top: 0.5em ;
  /* border: 0.5px solid #ddd ; */
  color: #1F2E35 ;
  
}
output > a{
  margin-left: 0.4em;
  color: #f00f08;
}
.signup-form > button {
  border: 0;
  padding: 0.8em 1.5em !important;
  align-self: center;
  padding: 7px;
  font-size: 1em;
  font-weight: 600;
  background-color: #f00f08;
  color: #fff;
}
