.signup-form {
  padding: 15px;
  margin: 20vh auto;
  min-height: 25vh;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #ddd;
  border-radius: 15px;
}
.signup-form > label {
  display: flex;
  justify-content: space-between;
}
.signup-form > label > input {
  padding: 7px;
}
.signup-form > button {
  align-self: center;
  padding: 7px;
  font-weight: 600;
}
