.admin-page{
    margin: 5em !important;
    justify-content: space-between;
    align-items: stretch !important;
}
.admin-page h2{
    width: 100%;
    padding: 1em;
    color: #1F2E35 ;
}
.left-bar{
    flex: 1 1 140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.left-bar-button{
    font-size: 1.2em;
    font-weight: 550;
    padding: 0.7em;
    text-align: left;
    background-color: rgb(107, 105, 105);
    color: #fff;
    margin-right: 1em;

}
.show-data-cont{
    flex:8 8 400px
}