.main-form {
  margin-top: 10vh !important;
  padding: 0px 15px 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch !important;
}
.main-form fieldset {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 10px;
  margin-top: 8px;
  border: 1px solid rgb(109, 107, 107);
  border-radius: 10px;
}
.main-form legend {
  padding: 10px 15px;
  background-color: #4b4a49;
  color: #fff;
  border-radius: 25px;
  font-weight: 550;
}
.main-form fieldset > label {
  flex: 1 1 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  font-weight: 650;
  color: #4b4a49;
}
.main-form fieldset > label[for="believe"] {
  justify-content: flex-start;
}
.main-form fieldset  label > input {
  padding: 8px;
  min-width: 300px;
  border: 0;
  background-color: #a7a6a6;
  border-radius: 15px;
}
.main-form fieldset label >input:focus {
  padding: 0.6em;
  margin-top: 0.5em;
}

.main-form label > input[type="checkBox"] {
  min-width: 13px;
  margin-right: 7px;
  margin: 10px;
}
.pdf-view {
  border: 0;
}
.but-cont {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  border: 0 !important;
}
.but-cont > button {
  font-size: 1.2em;
  font-weight: 450;
  padding: 10.5px;
  background-color: #f00f08;
  color: #fff;
  border-radius: 25px;
  letter-spacing: 1px;
  margin-top: 15px;
}

