.all-users {
  flex-direction: column;
  align-items: stretch !important;
}

.title-user {
  display: flex;
  justify-content: stretch;
}
.title-user > * {
  text-align: center;
  background-color: #397cb3;
  padding: 0.5em;
  color: #fff;
  border-right: 0.7px solid #fff

}
.title-user-name{
  flex: 2 2 200px;
}
.title-user-email{
  flex:2 2 250px;
}
.title-user > .title-open-button {
  flex: 1 1 85px;
  
  
}
.title-user > .title-edit-button {
  flex: 1 1 85px;
  
 
}
.title-user > .title-deleat-button {
  flex: 1 1 85px;


}
