.all-users {
  flex-direction: column;
  align-items: stretch !important;
}

.title-user {
  display: flex;
  justify-content: stretch;
}
.title-user > * {
  text-align: center;
  background-color: #f00f08;
  padding: 0.5em;
  color: #fff;
  border-right: 0.7px solid #fff

}
.title-number{
  flex: 1 1 40px;
}
.title-user-name{
  flex: 2 2 200px;
}
.title-user-email{
  flex:2 2 250px;
}
.title-date-added{
  flex:1 1 100px
}
.title-action{
  flex:1 1 100px
}
