
.home-page {
  position: relative;
  min-height: 87.9vh;
  margin-top: 6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('../../image/main-background-img.jpg');
}
.bneer{
  position: absolute;
  width: 100%;
  min-height: 87.9vh;
  background-color: #1F2E35;
  opacity: 0.7;
}
.text-cont {
  flex: 2 2 350px;
  height: 220px;
  flex-direction: column;
}
.text-cont h2{
  font-size: 3rem;
  text-align: center;
  color: #fff;
}
.text-cont h2 > span{
  color: #f00f08;
}
.text-cont h5{
  font-size: 1.8rem;
  color: #fff;

}
.see-more-but {
  padding: 0.7em 1.5em;
  margin-right: 1.5em;
  font-size: 1rem;
  font-weight: 510;
  border: 0;
  border-radius: 0.5em;
  background-color: #f00f08;
  color: #fff;
  transition: all 0.5s;
}
.see-more-but:hover{
  letter-spacing: 0.9px;
}

