.one-person {
  display: flex;
  justify-content: space-around;
}
.one-person *{
  text-align: center;
  padding: 0.5em;
  color: #1F2E35;
  border: 0.7px solid #f00f08;
}
.petition-no{
  flex: 1 1 110px;
}
.deceased-name{
    flex: 2 2 180px;
}
.person-name{
    flex:2 2 180px
}
.date-added{
  flex:1 1 90px
}
.user-added{
  flex:1 1 90px
}
.one-action{
  flex:1 1 80px
}