.one-person {
  display: flex;
  justify-content: space-around;
}
.one-person > *{
  text-align: center;
  padding: 0.5em;
  color: #1F2E35;
  border: 0.7px solid #f00f08;
}
.one-person > .petition-no{
  flex: 1 1 110px;
}
.one-person > .deceased-name{
    flex: 2 2 180px;
}
.one-person > .person-name{
    flex:2 2 180px
}
.one-person > .date-added{
  flex:1 1 90px
}
.one-person > .user-added{
  flex:1 1 90px
}
.one-person > .one-action{
  flex:1 1 80px;
  display: flex;
  justify-content: space-around;
}
.one-person .one-action > .edit-icon {
  color: #f08b18 !important;
}
.one-person .one-action > .open-icon {
  color: #0d8d2d !important;
}
.one-person .one-action > .delete-icon {
  color: #f03818 !important;
}
