.one-person {
  display: flex;
  justify-content: space-around;
}
.one-person *{
  text-align: center;
  padding: 0.5em;
  color: #397cb3;
  border-right: 0.7px solid #397cb3
}
.petition-no{
    flex: 2 2 100px;
}
.deceased-name{
    flex:2 2 150px
}
.person-name{
  flex:2 2 150px;
}
.edit-button {
  flex: 1 1 85px;
}
.open-button {
  flex: 1 1 85px;
}
.deleat-button {
  flex: 1 1 85px;
  

}