.one-user  {
    display: flex;
    justify-content: space-around;
  }
  .one-user > *{
    text-align: center;
    padding: 0.5em;
    color: #1F2E35;
    border: 0.7px solid #f00f08;
  }
  .one-user > .user-number{
    flex: 1 1 70px;
  }
  .one-user > .user-name{
      flex: 2 2 200px;
  }
  .one-user > .user-email{
      flex:2 2 250px
  }
  .one-user > .date-added{
    flex:1 1 100px
  }
  .one-user > .aciton{
    flex:1 1 100px
  }