.data-cont{
    margin: 10em auto 0em !important;
}
.data-cont > *{
    flex: 2 2 550px;
    padding: 1em;
    color: #22343d;
}

.data-cont H3{
    flex: 1 1 800px;
}
.data-cont h5 > span{
    color: #123647;
    font-size: 1em !important;
    font-weight:400 ;
}
.data-cont > label{
    display: flex;
    justify-content: space-between;
    
}
.data-cont >label >select{
    margin-left: 2em;
    flex: 1 1 100px;
    padding: 1em;
    color: #22343d;
}
.data-cont button{
    max-width: 100px;
    flex: 1 1 40px;
    margin: 10px auto;
    background-color: #f00f08;
    color: #fff;
}
